<div class="page">
<div class="container">
<div class="project-manager-box">
  <h2>Employee Details</h2>
  <table>
      <thead>
          <tr>
              <th>Field</th>
              <th>Details</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>ID</td>
              <td>{{employeeId}}</td>
          </tr>
          <tr>
              <td>Name</td>
              <td>{{employeeName}}</td>
          </tr>
          <tr>
              <td>Email</td>
              <td>{{ employeeEmail }}</td>
          </tr>
          <tr>
            <td>Phone no</td>
            <td>{{ employeePhone }}</td>
        </tr>
      </tbody>
  </table>
  
</div>
</div>
</div>
